name: Run Robot Framework Tests
on:
  push:
    branches:
      - main

jobs:
    run_tests:
        runs-on: ubuntu-latest
        steps:
        # checkout code from a repository
        - uses: actions/checkout@v2
        # create folder for test reports
        - name: Create folder for reports
          run: mkdir reports
        # run Robot Framework tests inside Docker container
        - name: Run Robot Framework Tests
     
          run: |
            docker run \
              -v ${PWD}/reports:/opt/robotframework/reports:Z \
              -v ${PWD}/actionTest.robot:/opt/robotframework/tests:Z \
              --user $(id -u):$(id -g) \
                  ppodgorsek/robot-framework:latest
        # upload test reports as a zip file
        - name: Upload reports
          uses: actions/upload-artifact@v1
          if: always()
          with:
            name: reports
            # set path to Robot Framework results reports. Exclude dummy file that is needed because of ppodgorsek image priviledges.
            path: ${{ github.workspace }}/reports
        # repository name is needed for posting test report in a next step
        - name: Get Repository Name
          run: |
            export REPO="$(echo "${{ github.repository }}" | awk -F / '{print $2}' | sed -e "s/:refs//")"
            echo "{REPOSITORY_NAME}={$REPO}" >> $GITHUB_ENV

            
        # when test are run for a commit, post results as a comment
        # note: comment is not posted for tests triggered for pull requests, only for a main branch (master)
        - name: Send test report as comment to commit
          uses: joonvena/robotframework-reporter-action@v0.1
          if: ${{ github.event_name == 'push' }}
          
          env:
         
            GH_ACCESS_TOKEN: ${{ github.TOKEN }}
            REPO_OWNER: ${{ github.REPOSITORY_OwNER }}
            COMMIT_SHA: ${{ github.SHA }}
            REPOSITORY: ${{ env.REPOSITORY_NAME }}
            REPORT_PATH: ${{ github.workspace }}/reports
